site_name: Commu-YCYZ
repo_url: https://github.com/adamanteye/Commu-YCYZ
repo_name: Commu-YCYZ

theme:
  language: zh
  name: material
  font:
    text: 'Fira Sans'
    code: 'Fira Mono'
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.instant
    - navigation.footer
    - navigation.top
  icon:
    repo: fontawesome/brands/github
  custom_dir: overrides
  
  palette: 
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7 
        name: 切换到夜间模式
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: 切换到日间模式

plugins:
  - search:
      separator: '[\s\u200b\-]'
  - git-revision-date-localized:
      enable_creation_date: true
      locale: zh


markdown_extensions:
  - admonition # !!! 格式支持
  - pymdownx.arithmatex: # latex 公式支持
      generic: true
  - pymdownx.details # 折叠格式 ???
  - footnotes
  

extra_javascript:
    - 'src/js/extra.js' # latex 公式支持
    - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML' # latex 公式支持

copyright: 'Copyright &copy; 2023 Commu-YCYZ'

nav:
  - 关于本站:
    - 简介: index.md
    - 参与贡献: about/to-contribute.md
  - 数学:
    - 圆锥曲线解题方法与思路: math/conics.md
    - 微积分基础: math/basic-calculus.md
    - 行列式的构造、基本性质及其应用: math/determinant.md
    - 二项式定理的拓展与应用: math/quadratic.md
    # - 计数原理: math/counting.md
  - 物理:
    - 常见模型的深入理解: physics/deeper-understanding-on-regular-models.md